{% extends 'home/base.html' %}
{% load static %}
{% block title%}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'registration/css/thanks.css' %}">
    <div class="container-fluid">
      <div class="thanks-div">
        <img src="{% static 'registration/images/thanksnew.jpg' %}" alt="thank you">
        <h2><span>Thanks</span> for registering with us!</h2>
        <a href="/accounts/login" id="bgcolor">Login Here</a>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'registration/js/thanks.js' %}"></script>
{% endblock %}