
.thanks-div{
  height: 250px;
  margin-top:100px;


}
.thanks-div img{
  width: auto;
  height: 250px;

}
span{


}
.thanks-div h2{
  margin-left: 700px;
  margin-top: -200px;
  font-family: cursive;
  background: #de3cde;
  color: white;
  text-align: center;
  padding: 5px;
  width: 500px;
}
.thanks-div a{
  margin-left: 900px;
  color: white;
  background: #FF8C00;
  font-family: cursive;
  font-size: 20px;
  border: red 0px solid;
  border-radius: 20px;
  padding: 5px;
}
